<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<style>
		body
		{
			background:url(https://cdn.abcotvs.com/dip/images/5184599_031119-kgo-shutterstock-rain-img.jpg?w=800&r=16%3A9);
			background-repeat:no-repeat;
			text-align:center;
			background-size:1550px 850px;
			background-attachment:fixed;
			overflow:hidden;
		}
		.jumbotron
		{
			
			margin-top:200px;
			width:500px;
			margin-left:300px;
		}
	</style>
	<script src="bootstrapfiles/jquery.slim.min.js"></script>
	<script src="bootstrapfiles/popper.min.js"></script>
	<script src="bootstrapfiles/bootstrap.min.js"></script>
	<title>error</title>
</head>
<body>
	<div class="container">
		<div class="jumbotron">
			<h1>Oops!</h1>
			<h1>404 error</h1>
			<p>Something went wrong,go back home</p>
			<a href="/" class="btn btn-info btn-lg">Go Back Home</a>
		</div>
	</div>
</body>
</html>